*{
     margin:0; 
     padding:0; 
}



nav{
     height:8vh;
     width:100vw;
     background-color: blueviolet;
     text-align: center;
     
}
header nav{
  
    padding :40px; 

}
.contact{
     padding:40px; 
     line-height: 50px;
}
.skills{
    padding:40px; 
    line-height: 50px;  
}
.projects{
    padding:40px;
    line-height: 50px;

}
.resume{
     padding:40px; 
     line-height: 50px;
}

footer p {
     height:5vh; 
     width:100vw; 
     padding:20px; 
     background-color: blueviolet;
     text-align: center;
     

}
.contact ul li{
      list-style: none;
}
